<section id="writing">
  <ul class="post-list">
    <% var field_sort = theme.posts_overview.sort_updated ? 'updated' : 'date' %>
    <% var show_posts = page.posts.sort(field_sort, 'desc') %>
    <% show_posts.each(function(post, i) { %>
      <li class="post-item">
        <%- partial('_partial/post/category', { post: post }) %>
        <span>
          <%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %>
        </span>
        <%- partial('_partial/post/real', { post: post }) %>
        <!-- <span>
          <em><%- partial('_partial/post/author', { post: post, index: true, class_name: '' }) %></em>
        </span> -->
      </li>
    <% }); %>
  </ul>
  <% if (theme.posts_overview.show_all_posts) { %>
    <%- partial('_partial/pagination') %>

  <% } %>
</section>
