<% if (post.filmDate) { %>
    <div class="<%= class_name %>">
      <% if (is_post()) { %>
        <time datetime="<%- post.filmDate %>"><%- post.filmDate %></time>
      <% } else { %>
        <% if (is_home() && theme.posts_overview.sort_updated || is_archive() && theme.archive.sort_updated ) { %>
          <time datetime="<%- post.filmDate %>"><%- post.filmDate %></time>
        <% } else { %>
          <time datetime="<%- post.filmDate %>"><%- post.filmDate %></time>
        <% } %>
      <% } %>
    </div>
<% } %>
