<% if (post.filmDate) { %>
    <div class="<%= class_name %>">
      <% if (is_post()) { %>
        <time datetime="<%= date_xml(post.filmDate) %>"><%= date(post.filmDate, config.date_format) %></time>
      <% } else { %>
        <% if (is_home() && theme.posts_overview.sort_updated || is_archive() && theme.archive.sort_updated ) { %>
          <time datetime="<%= date_xml(post.filmDate) %>"><%= date(post.filmDate, config.date_format) %></time>
        <% } else { %>
          <time datetime="<%= date_xml(post.filmDate) %>"><%= date(post.filmDate, config.date_format) %></time>
        <% } %>
      <% } %>
    </div>
<% } %>
